@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
<div class="main-content-center">
<div class="card text-white">Employee with same login exists</div>

<a class="btn btn-outline-primary"asp-action="Create">Create again</a>
</div>