@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
<div class="main-content-center">
    <h1 class="text-center" style="font-size: 6em;text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">Permission denied</h1>

</div>
