@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}
<div class="main-content-center">
    <div class="card">
    <h1 style="font-size: 6em;text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)">Frequently asked questions</h1>

        <ul>
            <div class="card-left-align mb-2 mt-2">
                <li class="text-white">
                    <strong>How to solve a problem that occured?</strong>
                    <p>Go into tickets tab and click on create ticket, select category of problem and priority based on how fast you want ticket to be resolved</p>
                    <p>You and also choose from pre-made tickets for common problem with 'Open premade ticket'</p>

                </li>
            </div>
    <div class="card-left-align mb-2 mt-2">
        <li class="text-white">
            <strong>How to change my profile picture?</strong>
            <p>Go into My Account tab on top of the website and click on 'Change Profile Picture'</p>
        </li>
    </div>
    <div class="card-left-align mb-2 mt-2">
        <li class="text-white">
            <strong>Who can see my profile picture?</strong>
            <p>Basically everyone, so make sure you look handsome on it!</p>
        </li>
    </div>
        </ul>

    </div>
</div>