@model projektdotnet.Models.Meeting
<a asp-controller="Meetings" asp-action="Details" asp-route-id="@Model.MeetingId" class="card-text text-decoration-none text-white m-2">@Model.Title @Model.StartingTime</a> 