@model projektdotnet.Models.Room
<a asp-controller="Rooms" asp-action="Details" asp-route-id="@Model.RoomId" class="card-text text-decoration-none text-white">
    Name: @Model.Name Number: @Model.RoomNumber
</a>
